body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table.basket-table > thead > tr > th,
.table.basket-table > tbody > tr > th,
.table.basket-table > tfoot > tr > th,
.table.basket-table > thead > tr > td,
.table.basket-table > tbody > tr > td,
.table.basket-table > tfoot > tr > td {
    text-align: center;
    vertical-align: middle;
}

.basket-table > tbody > tr:first-child, td:first-child {
    width:92px;
}